.contact {
    background: url('../images/bg_newsletter.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
    @media (min-width: $bp-medium) {
        padding: 75px 75px;
    }

    @media (min-width: $bp-large) {
        padding: 155px 170px;
    }

    h2 {
        text-align: center;
        color: $black;
    }
}

.contact-container {
    padding: 40px 40px 20px;
    background-color: rgba(234, 226, 222, .8);
}