.page-footer {
    background-image: linear-gradient(#226454, #0d3b30);
}

footer .fab {
    font-size: 2.5rem;
}

footer p,
footer h3 {
    color: $white;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-nav {
        margin: $big-spacer 0;
    }

    .footer-social ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin-bottom: 10px
        }
    }
}

@media (min-width: $bp-medium) {
    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}