// .search-form dans le header

.search-form {
    display: flex;
    justify-content: flex-end;
}

.search-form input,
.search-form button {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
    padding: 0.5rem 1.5rem;
    transition: background 0.3s;

    @media (min-width: 790px) {
        padding: 0.5rem 0.5rem;
    }
}

.search-form input:focus {
    background-color: rgba($white, 1);
}

button {

    cursor: pointer;

    .fas {
        font-size: 1.5rem;
        color: $orange;
    }

    &:hover {
        background-color: rgba(#fff, 1)
    }
}

::placeholder {
    color: $primary;
    font-style: italic;

}

// newsletter form

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.contact-form input {
        width: 250px;

    @media (min-width : $bp-medium) {
        width: 400px;
    }
}
