.baseline {
     position: absolute;
     z-index: 10;
     color: $white;
     padding-top: 50%;

     @media (max-width: $bp-small) {
        padding-top: 32%;
    }
 } 

 .page-header-inner {
     position: absolute;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     z-index: 999999;

     @media (min-width: $bp-large) {
         flex-direction: row;
         align-items: flex-start;
     }
 }

 .logo img {
     @media (max-width: $bp-small) {
         width: 130px;
     }


     .main-nav {
         @media (min-width: $bp-large) {
             background-color: rgba(0, 0, 0, 0.5);
         }
     }
   } 
     

     .header-nav {
         display: flex;
     }
 
