header {
    background: url('../images/header-bgd.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
}

header .container {
    min-height: 100vh;
}

.page-header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    @media (min-width: $bp-large) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
