.hero-1 h1 {
    text-align: center;
    color: $black;
    padding: $big-spacer 0;
}

.figure {
    position: relative;
}

.figure a {
    display: block;
}

.figcaption {
    color: $black;
}

.hero-prez{
    @media (min-width: $bp-large) {
    overflow: hidden;}
}

.hero-prez .figure {
    @media (min-width: $bp-large) {
    overflow: hidden;}
}

.hero-prez img {
    @media (min-width: $bp-large) {
    transition: 0.5s;}
}

.hero-prez a:hover img {
    @media (min-width: $bp-large) {
    transform: scale(1.1)}
}

.hero-prez .figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    @media (min-width: $bp-large) {
        top:60%;
    
    transition: 0.5s;
    opacity: 0; }
}

.hero-prez:hover .figcaption {
  
    opacity: 1;
    bottom: 0;
}