.hero-1 h1 {
    text-align: center;
    color: $black;
}

.figure {
    overflow: hidden;
    position: relative;  
}

.figure a{
    display: block;
}

.figcaption {
    overflow: hidden;
    color: $black;
}

figure .contim {
    overflow: hidden;    
  }

figure img {
    transition: 0.5s;
  }

figure a:hover img {
    transform: scale(1.1);
}

.figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    opacity: 0;
}

.figure:hover .figcaption {
    opacity: 1;
    bottom: 0;
}