.presentation-content {
    background-color: #F0EDE9;
}

.article-presentation {
    display: flex;
    flex-direction: column;
    text-align: center;

    i {
        font-size: 3rem;
        color: $orange;
    }
}