.presentation-content {
    background-color: #F0EDE9;
}



.article-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    img {
        width: 100px;
    }
}