
/* .stellarnav ul li > a{
    margin: 0
} */

//stellarnav
.stellarnav .menu-toggle {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 0;

    @media (min-width: $bp-medium) {
        right: 20px;
        top: 20px;
    }

    span.bars {
        margin-right: 0;

        span {
            width: 30px;
            height: 4px;
            margin-bottom: 8px;
            background-color: $white;

            @media (min-width: $bp-medium) {
                width: 40px;
            }
        }
    }
}

.stellarnav .close-menu {
    font-size: 0;

    .icon-close {
        width: 30px;

        &::before,
        &::after {
            width: 30px;
        }
    }
}

.stellarnav ul {
    background-color: rgba(0, 0, 0, 0.5);
    @media (min-width: $bp-large) {
        li>a {
            color: #ffff;
            padding: 1rem;
            margin: 0;

            &:hover {
                background-color:$primary;
            }
        }
    }
}

.stellarnav.mobile ul {
    background: $orange;
}

.stellarnav.mobile.left>ul {
    z-index: 9999;
  }
.stellarnav li a {
    color: #ffff;
}

.stellarnav .icon-close:after,
.stellarnav .icon-close:before {
    content: '';
    display: block;
    width: 12px;
    height: 0;
    top: 50%;
    border-bottom: solid 3px $white;
    position: absolute;
}


