// Pour le survol image

.item-2 .contim {
    overflow: hidden;
}

.item-2 img {
    transition: 0.5s;
}

.item-2 a:hover img {
    transform: scale(1.1);
}

.item-2 {
    overflow: hidden;
}

.item-2 .continfos {
    position: absolute;
    bottom: -100px;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.521);
    transition: 0.5s;
    opacity: 0;
}

.item-2 a:hover .continfos {
    opacity: 1;
    bottom: 0;
}