.owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: 20px;
    font-size: 0;
    outline: none;
}

.owl-carousel .owl-nav button::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.owl-nav .owl-prev {
    left: 20px;
    transform: rotate(-45deg);
}

.owl-nav .owl-next {
    right: 20px;
    transform: rotate(135deg);
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
    background: $white;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: $primary;
}
