body {
    margin: 0;

}

* {
    box-sizing: border-box;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 15px $spacer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden-text {
    font-size: 0;
  }
