body {
    font-family: $font-default;
}

h1 {
    background: url('../images/h1-mobile.png') no-repeat center;
    background-size: contain;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 50px;
    color: $white;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.7rem;
    font-family: $font-title;


    @media (min-width: $bp-medium) {
        background: url('../images/h1-tablet.png') no-repeat center;
        background-size: cover;
        padding: 20px 0;

    }
    @media (min-width: $bp-large) {
        background: url('../images/h1-desktop.png') no-repeat center;
        background-size: cover;
        font-size: 3rem;
    }
}


p {
color: $grey;
font-weight:400;
font-size: 0.875rem;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color : white;
    }
}
