body {
    font-family: $font-default;
}

h1 {
    color: $black;
    font-size: 7rem;
    font-family: $font-title;
}

h2 {
    color: $white;
    font-size: 4.5rem;
    font-family: $font-title;
}


p {
// color: $grey;
font-weight:400;
font-size: 0.875rem;
}

a {
    color: $link-color;
    text-decoration: none;
    font-size: 1.25rem;


    &:hover {
        text-decoration: underline;
        color : white;
    }
}
