/* title */

.title-style {
    position: relative;
}

.title-infos {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-infos h1 {
    text-align: center;
    color: $white;
}

.title-img img {
    width: 100%;
    height: 600px;
}

