// // Colors
$white : #fff;
$grey : #1d1d1b;
$brown : #804430;
$brown-light : rgba(204, 124, 98, 0.2);
$green-light : rgba(48, 128, 109, 0.2);
$green : #30806D;
$green-dark :#093329;
$gold: #FF9000;


$link-color: $white;

// // Typos
$font-default: 'Rubik',
sans-serif;
$font-title :'Caveat Brush', cursive;


// Layout
$max-width: 1200px;
$bp-medium: 768px;
$bp-large : 992px;
$spacer : 15px;
$big-spacer : 50px; 