// // Colors
$orange: #FF5D5D;
$black : #000000;
$white : #ffffff;
$beige : #F0EDE9;

$primary: $orange;

// // Typos
@font-face {
    font-family: 'strawberry_blossom';
    src: url('../fonts/strawberry_blossom-webfont.woff2') format('woff2'),
    url('../fonts/strawberry_blossom-webfont.woff') format('woff');
}

$font-default: 'Lato', sans-serif;
$font-title :'strawberry_blossom', cursive;

// Layout
$max-width: 1200px;
$bp-small: 480px;
$bp-medium: 768px;
$bp-large : 992px;
$spacer : 15px;
$big-spacer : 50px;
